KafkaPrincipal,ResourceType,PatternType,ResourceName,Operation,PermissionType,Host
User:rsyslog,Topic,LITERAL,rsyslog_infra,WRITE,Allow,*
User:rsyslog,Topic,LITERAL,rsyslog_apps,WRITE,Allow,*
User:rsyslog,Topic,LITERAL,rsyslog_nginx,WRITE,Allow,*
User:rsyslog,Topic,LITERAL,rsyslog_audit,WRITE,Allow,*
User:rsyslog,Topic,LITERAL,kube_apps,WRITE,Allow,*
User:rsyslog,Topic,LITERAL,kube_infra,WRITE,Allow,*
User:logstash,Topic,LITERAL,rsyslog_infra,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:logstash,Topic,LITERAL,rsyslog_apps,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:logstash,Topic,LITERAL,rsyslog_nginx,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:logstash,Topic,LITERAL,rsyslog_audit,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:logstash,Topic,LITERAL,kube_apps,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:logstash,Topic,LITERAL,kube_infra,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:logstash,Topic,LITERAL,fluent_bit_infra,READ,Allow,*
User:logstash,Group,LITERAL,logstash,READ,Allow,*
User:fluent-bit,Topic,LITERAL,fluent_bit_infra,WRITE,Allow,*