[Unit]
Description=Bitnami Zookeeper Test

[Service]
Restart=always
ExecStartPre=docker rm -f {{ zk_args.container_name }} || True
ExecStart=docker run --rm \
  --memory={{ zk_args.memmory }} \
  --memory-swap={{ zk_args.memmory_swap }} \
{% for v_value in zk_args.volumes.values() %}
  -v {{ v_value }} \
{% endfor %}
{% for f_key, f_value in zk_args.flags.items() %}
  -e {{ f_key }}={{ f_value }} \
{% endfor %}
  --name {{ zk_args.container_name }} \
  --net {{ zk_args.network_mode }} \
  -p {{ docker.ports.zk_outside_port }}:{{ docker.ports.zk_inside_port }} \
  {{ zk_args.image_path }}

ExecStop=docker stop -t 10 {{ zk_args.container_name }}

[Install]
WantedBy=multi-user.target
