tickTime=2000

initLimit=10

syncLimit=5

dataDir={{ zk_data_dir }}
dataLogDir={{ zk_log_dir }}

clientPort={{ zk_client_port }}

autopurge.snapRetainCount=3
autopurge.purgeInterval=1

snapCount=10000

server.1=node1:2888:3888
server.2=node2:2888:3888
server.3=node3:2888:3888

authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
authProvider.2=org.apache.zookeeper.server.auth.DigestAuthenticationProvider
